* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gradient {
  background: linear-gradient(90deg, rgb(243, 115, 98), rgb(243, 115, 98), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

svg {
  margin-right: 7px;
}

.container {
  width: 65%;
  margin: auto;
}

body {
  font-family: "Inconsolata", serif;
  background-image: url(../images/background-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 150px;
}
body .top {
  position: absolute;
  top: 30px;
  right: 0;
  width: 300px;
  z-index: -1;
}
body .lines {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
body .bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 600px;
  z-index: -1;
}
body .circle-top {
  position: absolute;
  top: -90px;
  left: 40px;
  z-index: -1;
}
body .circle-center {
  position: absolute;
  top: 50%;
  right: 20%;
  z-index: -1;
}
body header {
  padding: 40px 0px;
}
body header img {
  display: block;
  margin: auto;
}
body main section {
  text-align: center;
}
body main section h1 {
  font-size: 60px;
  color: rgb(255, 255, 255);
  padding: 20px 50px 0px;
}
body main section p {
  width: 100%;
  margin: auto;
  font-size: 22px;
  color: rgb(210, 209, 214);
  padding-top: 50px;
}
body main form {
  display: flex;
  flex-direction: column;
  color: white;
  width: 60%;
  margin: 0 auto;
}
body main form div {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
body main form div label {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
body main form div input {
  margin: 10px 0;
  padding: 15px 0 15px 10px;
  border-radius: 11px;
  border: 1px solid rgb(135, 132, 164);
  outline: none;
  background-color: transparent;
  caret-color: rgb(210, 209, 214);
  color: rgb(210, 209, 214);
  font-size: 15px;
  background-color: rgba(75, 72, 106, 0.3);
}
body main form div input[type=submit] {
  background-color: rgb(245, 114, 97);
  border: none;
  font-size: 20px;
  font-family: "Inconsolata", serif;
  font-weight: 900;
  color: rgb(12, 8, 43);
  margin: 0;
  cursor: pointer;
}
body main form div ::placeholder {
  color: rgb(210, 209, 214);
}
body main form div .error {
  color: rgb(245, 114, 97);
  display: none;
}
body main form div .error svg path {
  stroke: rgb(245, 114, 97);
}
body main form .file-input {
  margin-bottom: 15px;
  height: 140px;
  border: 2px dashed rgb(75, 72, 106);
  padding: 20px;
  border-radius: 6px;
  position: relative;
  background-color: rgba(75, 72, 106, 0.3);
}
body main form .file-input input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
body main form .file-input img {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: rgb(75, 72, 106);
  border: 1px solid rgb(135, 132, 164);
  border-radius: 10px;
  cursor: pointer;
}
body main form .file-input p {
  color: white;
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  cursor: pointer;
}
body main form .file-input .btns {
  display: none;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}
body main form .file-input .btns a {
  padding: 2px 6px;
  background-color: rgb(75, 72, 106);
  color: rgb(210, 209, 214);
  cursor: pointer;
}
body main form .file-input .btns a:hover {
  text-decoration: underline;
}
body main form span {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: rgb(210, 209, 214);
  margin: -5px 0 10px 0;
}
body main form span img {
  margin-right: 10px;
}
body main article {
  display: none;
  width: 600px;
  height: 280px;
  margin: 60px auto 100px;
  background-image: url("../images/pattern-ticket.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
body main article div.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main article div.logo > img {
  width: 260px;
  padding: 20px 0 0 20px;
}
body main article div.logo > p {
  padding-left: 72px;
  color: rgb(135, 132, 164);
  font-weight: normal;
}
body main article .info {
  display: flex;
  align-items: center;
  margin: 120px 0 20px 20px;
}
body main article .info > img {
  width: 70px;
  border-radius: 10px;
  margin-right: 12px;
}
body main article .info .name h2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 500;
}
body main article .info .name h3 {
  display: flex;
  align-items: center;
  color: rgb(210, 209, 214);
  font-weight: 400;
}
body main article .info .name h3 img {
  margin-right: 8px;
}

@media (max-width: 950px) {
  .container {
    width: 85%;
  }
  body {
    background-image: url(../images/background-tablet.png);
  }
  body .top {
    width: 200px;
  }
  body .bottom {
    width: 450px;
  }
  body .circle-top {
    top: -90px;
    left: 0;
  }
  body .circle-center {
    right: 10%;
  }
  body main section h1 {
    font-size: 38px;
  }
  body main section p {
    width: 100%;
    font-size: 18px;
    padding-top: 50px;
  }
  body main form {
    width: 92%;
  }
  body main article {
    width: 450px;
  }
  body main article div.logo {
    padding-top: 30px;
  }
  body main article div.logo > img {
    width: 200px;
  }
  body main article div.logo p {
    padding-left: 60px;
  }
  body main article .info {
    margin-top: 80px;
  }
  body main article .info > img {
    width: 55px;
  }
  body main article .info .name h2 {
    font-size: 24px;
  }
  body main article .info .name h3 {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  body main article {
    width: 400px;
    margin-top: 20px;
  }
  body main article div.logo {
    padding-top: 40px;
  }
  body main article div.logo > img {
    width: 200px;
  }
  body main article div.logo p {
    padding-left: 60px;
    font-size: 13px;
  }
  body main article .info {
    margin-top: 60px;
  }
  body main article .info > img {
    width: 55px;
  }
  body main article .info .name h2 {
    font-size: 22px;
  }
  body main article .info .name h3 {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .container {
    width: 95%;
  }
  body {
    background-image: url(../images/background-mobile.png);
    overflow-x: hidden;
  }
  body .top {
    width: 120px;
    top: 20px;
  }
  body .bottom {
    width: 240px;
  }
  body .circle-top {
    width: 200px;
    top: -70px;
    left: -40px;
  }
  body .circle-center {
    width: 200px;
    right: -20%;
  }
  body header img {
    width: 150px;
  }
  body main section h1 {
    font-size: 25px;
  }
  body main section p {
    width: 100%;
    font-size: 16px;
    padding: 20px;
  }
  body main form {
    width: 95%;
  }
  body main article {
    width: 98%;
    margin-top: 0px;
  }
  body main article div.logo {
    padding-top: 55px;
  }
  body main article div.logo > img {
    width: 180px;
    padding-left: 12px;
  }
  body main article div.logo p {
    padding-left: 48px;
    font-size: 13px;
    margin-top: 5px;
  }
  body main article .info {
    margin-top: 32px;
    margin-left: 10px;
  }
  body main article .info > img {
    width: 55px;
  }
  body main article .info .name h2 {
    font-size: 22px;
  }
  body main article .info .name h3 {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
