// colors
$Neutral0: rgb(255, 255, 255);
$Neutral300: rgb(210, 209, 214);
$Neutral500: rgb(135, 132, 164);
$Neutral700: rgb(75, 72, 106);
$Neutral900: rgb(12, 8, 43);
$Orange500: rgb(245, 114, 97);
$Orange700: rgb(225, 97, 81);
$GradientText: rgb(243, 115, 98) to rgb(255, 255, 255);

// Font 
$inconsolata: "Inconsolata", serif;

// Global Attributes
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gradient {
    background: linear-gradient(90deg, rgb(243, 115, 98), rgb(243, 115, 98), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

svg {
    margin-right: 7px;
}

.container {
    width: 65%;
    margin: auto;
}

body {
    font-family: $inconsolata;
    background-image: url(../images/background-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    .top {
        position: absolute;
        top: 30px;
        right: 0;
        width: 300px;
        z-index: -1;
    }
    .lines {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .bottom {
        position: absolute;
        bottom: 0px;
        width: 600px;
        z-index: -1;
    }
    .circle-top {
        position: absolute;
        top: -90px;
        left: 40px;
        z-index: -1;
    }   
    .circle-center {
        position: absolute;
        top: 50%;
        right: 20%;
        z-index: -1;
    }
    header {
        padding: 40px 0px;
        img {
            display: block;
            margin: auto;
        }
    }
    main {
        section {
            text-align: center;
            h1 {
                font-size: 60px;
                color: $Neutral0;
                padding: 20px 50px 0px;
            }
            p {
                width: 100%;
                margin: auto;
                font-size: 22px;
                color: $Neutral300;
                padding-top: 50px;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            color: white;
            width: 60%;
            padding: 50px 0 120px 0;
            margin: 0 auto;
            div {
                display: flex;
                flex-direction: column;
                margin: 10px 0;
                label {
                    font-size: 20px;
                    color: $Neutral0;
                }
                input {
                    margin: 10px 0;
                    padding: 12px 0 12px 10px;
                    border-radius: 11px;
                    border: 1px solid $Neutral500;
                    outline: none;
                    background-color: transparent;
                    caret-color: $Neutral300;
                    color: $Neutral300;
                    font-size: 15px;
                    background-color: rgb(75, 72, 106, 0.3);
                }
                input[type='submit'] {
                    background-color: $Orange500;
                    border: none;
                    font-size: 20px;
                    font-family: $inconsolata;
                    font-weight: 900;
                    color: $Neutral900;
                    margin: 0;
                    cursor: pointer;
                }
                ::placeholder {
                    color: $Neutral300;
                }
                .error {
                    color: $Orange500;
                    display: none;
                    svg {
                        path {
                            stroke: $Orange500;
                        }
                    }
                }
            }
            .file-input {
                margin-bottom: 15px;
                height: 140px;
                border: 2px dashed $Neutral700;
                padding: 20px;
                border-radius: 6px;
                position: relative;
                background-color: rgb(75, 72, 106, 0.3);
                input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    cursor: pointer;
                }
                img {
                    position: absolute;
                    top: 15%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 50px;
                    height: 50px;
                    background-color: $Neutral700;
                    border: 1px solid $Neutral500;
                    border-radius: 10px;
                    cursor: pointer;
                }
                p {
                    color: white;
                    position: absolute;
                    bottom: 30px;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    font-size: 18px;
                    font-weight: lighter;
                    cursor: pointer;
                }
                .btns {
                    display: none;
                    text-align: center;
                    position: absolute;
                    width: 100%;
                    bottom: 24px;
                    left: 50%;
                    transform: translateX(-50%);
                    a {
                        padding: 2px 6px;
                        background-color: $Neutral700;
                        color: $Neutral300;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            span {
                display: flex;
                align-items: center;
                font-size: 12px;
                color: $Neutral300;
                margin: -5px 0 10px 0;
                img {
                    margin-right: 10px;
                }
            }
        }
        article {
            display: none;
            width: 600px;
            height: 280px;
            margin: 60px auto 100px;
            background-image: url('../images/pattern-ticket.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            div.logo {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                > img {
                    width: 260px;
                    padding: 20px 0 0 20px;
                }
                > p {
                    padding-left: 72px;
                    color: $Neutral500;
                    font-weight: normal;
                }
            }
            .info {
                display: flex;
                align-items: center;
                margin: 120px 0 20px 20px;
                > img {
                    width: 70px;
                    border-radius: 10px;
                    margin-right: 12px;
                }
                .name {
                    h2 {
                        color: $Neutral0;
                        font-size: 30px;
                        font-weight: 500;
                    }
                    h3 {
                        display: flex;
                        align-items: center;
                        color: $Neutral300;
                        font-weight: 400;
                        img {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
}




// Tablet
@media (max-width: 950px) {
    .container {
        width: 85%;
    }
    body {
        background-image: url(../images/background-tablet.png);
        .top {
            width: 200px;
        }
        .bottom {
            width: 450px;
        }
        .circle-top {
            top: -90px;
            left: 0;
        }   
        .circle-center {
            right: 10%;
        }
        main {
            section {
                h1 {
                    font-size: 38px;
                }
                p {
                    width: 100%;
                    font-size: 18px;
                    padding-top: 50px;
                }
            }
            form {
                width: 92%;
            }
            article {
                width: 450px;
                div.logo {
                    padding-top: 30px;
                    > img {
                        width: 200px;
                    }
                    p {
                        padding-left: 60px;
                    }
                }
                .info {
                    margin-top: 80px;
                    > img {
                        width: 55px;
                    }
                    .name {
                        h2 {
                            font-size: 24px;
                        }
                        h3 {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 600px) {
    body {
        main {
            article {
                width: 400px;
                margin-top: 20px;
                div.logo {
                    padding-top: 40px;
                    > img {
                        width: 200px;
                    }
                    p {
                        padding-left: 60px;
                        font-size: 13px;
                    }
                }
                .info {
                    margin-top: 60px;
                    > img {
                        width: 55px;
                    }
                    .name {
                        h2 {
                            font-size: 22px;
                        }
                        h3 {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

// Mobile
@media (max-width: 450px) {
    .container {
        width: 95%;
    }
    body {
        background-image: url(../images/background-mobile.png);
        overflow-x: hidden;
        .top {
            width: 120px;
            top: 20px;
        }
        .bottom {
            width: 240px;
        }
        .circle-top {
            width: 200px;
            top: -70px;
            left: -40px;
        }   
        .circle-center {
            width: 200px;
            right: -20%;
        }
        header {
            img {
                width: 150px;
            }
        }
        main {
            section {
                h1 {
                    font-size: 25px;
                }
                p {
                    width: 100%;
                    font-size: 16px;
                    padding: 20px;
                }
            }
            form {
                width: 95%;
            }
            article {
                width: 98%;
                margin-top: 0px;
                div.logo {
                    padding-top: 55px;
                    > img {
                        width: 180px;
                        padding-left: 12px;
                    }
                    p {
                        padding-left: 48px;
                        font-size: 13px;
                        margin-top: 5px;
                    }
                }
                .info {
                    margin-top: 32px;
                    margin-left: 10px;
                    > img {
                        width: 55px;
                    }
                    .name {
                        h2 {
                            font-size: 22px;
                        }
                        h3 {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}